
  .carrossel {
    filter: drop-shadow(0px 0px 10px #000);
    overflow: hidden;
    width: 65%;
    height: 700px;
    position: absolute;
    top: 18%;
    left: 17%;
  }
  
  .container {
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
    
  }
  
  img {
    margin-top: -100px;
    width: 1250px;
    height: 600px;
    
  }